.app {
  display: flex;
  position: relative;
  height: 100vh;
}

main {
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  width: 100%;
  position: relative;
  padding-bottom: 3rem;
}
