.menu-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #2b6cb0;
  border-radius: 50%;
  z-index: 10000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 150ms ease-in-out;
}

@media screen and (min-width: 992px) {
  .menu-btn {
    display: none;
  }
}
