// $sidebar-bg-color: #eff5fc;
@import "~react-pro-sidebar/dist/css/styles.css";

// main font colour inc. icons
.pro-sidebar {
  color: #ffffff;
  // position: fixed;
}

// main background colour
.pro-sidebar > .pro-sidebar-inner {
  background-color: #161925;
}

// sub menu backgorund colour
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #1f2333;
}

// icon bg colour
.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: #2b6cb0;
}

.sidebar-header,
.sidebar-footer {
  padding: 24px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-header {
  font-weight: bold;
}
